<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">

    <!-- Logo / Nombre -->
    <a class="navbar-brand" href="/">Mi Empresa</a>

    <!-- Botón responsive -->
    <button 
      class="navbar-toggler" 
      type="button" 
      data-bs-toggle="collapse" 
      data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        @for (menuItem of menuItems; track menuItem) {
          <li class="nav-item">
            <a class="nav-link active" [href]="menuItem.path">{{ menuItem.label }}</a>
          </li>
        }

        <!-- Botón -->
        <li class="nav-item ms-3">
          <a 
            href="https://wa.me/4612669952?text=Hola%20quiero%20información"
            class="whatsapp-float d-flex align-items-center gap-2"
            target="_blank">
            <i class="bi bi-whatsapp"></i>
          </a>
        </li>

      </ul>
    </div>

  </div>
</nav>